.centered_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
  }

  .centeredTitle {
    text-align: center;
  }

  .inputField, .buttonField {
    width: 100%; /* Faz com que os elementos ocupem toda a largura disponível do contêiner pai */
    box-sizing: border-box; /* Inclui padding e bordas na largura total */
    padding: 10px; /* Adiciona algum espaço interno */
    margin-top: 10px; /* Adiciona espaço acima dos elementos */
  }